.expired_notice {
  background-color: #ebebeb;
  opacity: 0.6;
  text-align: center;
  padding: 2rem;
  border-radius: 0.25rem;
  margin: 1rem;
  height: 25vh;
}

.expired_notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired_notice > p {
  font-size: 1.5rem;
}

.show_counter .countdown_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 6.25rem;
  line-height: 8.6875rem;
  font-weight: 600;
  margin-top: 1.25rem;
  user-select: none;

  /* padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem; */
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.show_counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show_counter .countdown.danger {
  color: #ff0000;
}

.show_counter .countdown > p {
  margin: 0;
}

.show_counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.spacer {
  height: 25px;
}

.spacer_large {
  height: 50px;
}
