.progress-container {
  background-color: rgba(0, 0, 0, 0.1);
  height: 0.0625rem;
  width: 100%;
  /* margin-bottom: 2.5rem; */
}

.progress {
  height: 0.5rem;
  border-radius: 6.25rem;
  background-color: white;
  transform: translateY(-0.5rem);
  width: 0%;
}
