.btn_secondary {
  margin: 10px;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  height: 1.75rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  transition: transform 0.1s ease-in-out;
}

.btn_secondary_active {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  height: 2.25rem;
  background-color: rgba(255, 0, 0, 0.4);
  transition: transform 0.2s ease-in-out;
  transform: translateY(-0.18rem);
}
