.container {
  align-items: center;
  text-align: center;
  display: flex;
}

.card {
  margin: 0 auto;
  /* width: 75vw; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
}

.card_text {
  text-align: left;
  /* padding: 0px 5px 0px 5px; */
  color: rgb(255, 255, 255);
}

.timer_text {
  margin-left: 0.75rem;
  margin-top: 1rem;
  text-align: left;
  padding: 0px 5px 0px 5px;
  color: rgb(255, 255, 255);
}

.divider {
  margin: 0 auto;
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 98%;
}

.spacer_small {
  height: 2vh;
}

.spacer {
  height: 4vh;
}

.spacer_large {
  height: 6vh;
}

.flex_container {
  justify-content: space-between;
  display: flex;
}

.flex_cell {
  padding: 0 10px 0 10px;
  display: flex;
}

.card_time {
  padding-top: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  width: 80px;
  background-color: rgb(255, 255, 255);
}

.align_right {
  text-align: right;
  margin-right: 10px;
  padding-top: 3px;
}

.align_center {
  text-align: center;
}

.time_text {
  padding: 5px 0 5px 0;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}

.btn_save {
  width: 75px;
}

.card_increment {
  background-color: rgb(207, 30, 30);
  height: 20px;
}

.text_increment {
  line-height: 0.9;
}

.padding_left {
  padding-left: 25px !important;
}

.padding_right {
  padding-right: 25px !important;
}

p {
  margin-top: 1rem;
}
