.btn-custom:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
}

.time-change {
  width: 10px;
}

.btn-custom {
  margin: 2px auto !important;
  padding: 0 !important;
  width: 40px !important;
  height: 20px !important;
  border: 1px solid white !important;
  color: white !important;
}

.btn-custom-sounds:hover {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}

.btn-custom-sounds {
  padding: 0.5em 1em 0.5em 1em !important;
  width: fit-content !important;
  height: fit-content !important;
  border: 1px solid white !important;
  color: white !important;
}

.btn-save {
  width: 100px;
}

.btn-break:hover {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}

.settings-container {
  align-items: center;
  text-align: center;
  display: flex;
}

.settings-card {
  margin: 0 auto;
  /* width: 75vw; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 10px;
}

.card-text {
  text-align: left;
  /* padding: 0px 5px 0px 5px; */
  color: rgb(255, 255, 255);
}

.timer-text {
  margin-left: 0.75rem;
  margin-top: 1rem;
  text-align: left;
  padding: 0px 5px 0px 5px;
  color: rgb(255, 255, 255);
}

.divider {
  margin: 0 auto;
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 98%;
}

.spacer-small {
  height: 2vh;
}

.spacer {
  height: 4vh;
}

.spacer-large {
  height: 6vh;
}

.flex-container {
  justify-content: space-between;
  display: flex;
}

.flex-cell {
  padding: 0 10px 0 10px;
  display: flex;
}

.card-time {
  padding-top: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  width: 80px;
  background-color: rgb(255, 255, 255);
}

.align-right {
  text-align: right;
  margin-right: 10px;
  padding-top: 3px;
}

.align-center {
  text-align: center;
}

.time-text {
  padding: 5px 0 5px 0;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}

.default-settings {
  width: 150px;
}

.card-increment {
  background-color: rgb(207, 30, 30);
  height: 20px;
}

.text-increment {
  line-height: 0.9;
}

.padding-left {
  padding-left: 25px !important;
}

.padding-right {
  padding-right: 25px !important;
}

p {
  margin-top: 1rem;
}
