.btn-custom:hover {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}

.btn-custom {
  margin: 2px auto !important;
  padding: 0 !important;
  width: 40px !important;
  height: 20px !important;
  border: 1px solid white !important;
  color: white !important;
}

.btn_save {
  width: auto;
}

.btn_break:hover {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}
