.timer-container {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
}

.timer-control {
  margin: 0 auto !important;
}

.btn-secondary {
  font-size: 1rem;
  padding: 0.125rem 0.75rem;
  height: 1.75rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transition: transform 0.1s ease-in-out;
}

.btn-secondary-active {
  font-size: 1rem;
  padding: 0.125rem 0.75rem;
  height: 1.75rem;
  background-color: rgba(0, 0, 0, 0.15);
  transform: translateY(0.125rem);
}

.time {
  font-size: 6.25rem;
  line-height: 8.6875rem;
  font-weight: 600;
  margin-top: 1.25rem;
  user-select: none;
}

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.align-center {
  text-align: center;
}

.autobreak-btn:hover {
  outline: solid white 2px !important;
  border-radius: 5px !important;
}

.autobreak-btn {
  background-color: transparent;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .step-column {
    width: auto !important;
  }

  .step-button {
    width: 25px;
    height: 100%;
    margin-top: 0.5rem;
    cursor: pointer;
  }

  .main-timer-text {
    text-align: center;
    font-size: 4rem;
  }

  .timer-content {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.25rem 1rem 1.875rem;
    border-radius: 1rem;
    margin-bottom: 1.25rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: auto;
  }
  .action-btn1 {
    position: relative;
    top: 10px;
    color: var(--primary-color);
    padding: 0 0.75rem;
    box-shadow: rgb(235 235 235) 0 0.375rem 0;
    font-size: 1.25rem;
    width: 125px;
    height: 3.4375rem;
    font-weight: 600;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }

  .action-btn1-active {
    margin: 16px 0px 0px;
    color: var(--primary-color);
    font-size: 1.25rem;
    height: 3.4375rem;
    font-weight: 600;
    width: 125px;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }

  .action-btn2 {
    position: relative;
    top: 10px;
    color: var(--secondary-color);
    padding: 0 0.75rem;
    box-shadow: rgb(235 235 235) 0 0.375rem 0;
    font-size: 1.25rem;
    height: 3.4375rem;
    font-weight: 600;
    width: 125px;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }

  .action-btn2-active {
    margin: 16px 0px 0px;
    color: var(--secondary-color);
    padding: 0 0.75rem;
    font-size: 1.25rem;
    height: 3.4375rem;
    font-weight: 600;
    width: 125px;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }

  .action-btn3 {
    position: relative;
    top: 10px;
    color: var(--tertiary-color);
    padding: 0 0.75rem;
    box-shadow: rgb(235 235 235) 0 0.375rem 0;
    font-size: 1.25rem;
    height: 3.4375rem;
    font-weight: 600;
    width: 125px;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }

  .action-btn3-active {
    margin: 16px 0px 0px;
    color: var(--tertiary-color);
    padding: 0 0.75rem;
    font-size: 1.25rem;
    height: 3.4375rem;
    font-weight: 600;
    width: 125px;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .step-column {
  }

  .step-button {
    width: 50px;
    height: 100%;
    margin-top: 0.5rem;
    cursor: pointer;
  }

  .timer-content {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.25rem 1rem 1.875rem;
    border-radius: 1rem;
    margin-bottom: 1.25rem;
    margin: 0 auto;
    height: 425px;
    /* width: 90vw; */
    text-align: center;
  }

  .main-timer-text {
    text-align: center;
    font-size: 6rem;
  }

  .action-btn1 {
    position: relative;
    top: 10px;
    color: var(--primary-color);
    padding: 0 0.75rem;
    box-shadow: rgb(235 235 235) 0 0.375rem 0;
    font-size: 1.75rem;
    width: 200px;
    height: 3.4375rem;
    font-weight: 600;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }

  .action-btn1-active {
    margin: 16px 0px 0px;
    color: var(--primary-color);
    font-size: 1.75rem;
    height: 3.4375rem;
    font-weight: 600;
    width: 200px;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }

  .action-btn2 {
    position: relative;
    top: 10px;
    color: var(--secondary-color);
    padding: 0 0.75rem;
    box-shadow: rgb(235 235 235) 0 0.375rem 0;
    font-size: 1.75rem;
    height: 3.4375rem;
    font-weight: 600;
    width: 200px;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }

  .action-btn2-active {
    margin: 16px 0px 0px;
    color: var(--secondary-color);
    padding: 0 0.75rem;
    font-size: 1.75rem;
    height: 3.4375rem;
    font-weight: 600;
    width: 200px;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }

  .action-btn3 {
    position: relative;
    top: 10px;
    color: var(--tertiary-color);
    padding: 0 0.75rem;
    box-shadow: rgb(235 235 235) 0 0.375rem 0;
    font-size: 1.75rem;
    height: 3.4375rem;
    font-weight: 600;
    width: 200px;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }

  .action-btn3-active {
    margin: 16px 0px 0px;
    color: var(--tertiary-color);
    padding: 0 0.75rem;
    font-size: 1.75rem;
    height: 3.4375rem;
    font-weight: 600;
    width: 200px;
    background-color: white;
    text-transform: uppercase;
    transition: color 0.5s ease-in-out 0s;
    border-radius: 1rem;
  }
}
