.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-bottom: 0.75rem;
  color: white;
  transition: background-color 0.5s ease-in-out 0s;
}

.spacer {
  height: 50px;
}

.spacer_small {
  height: 25px;
}

.pomodoro {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-bottom: 0.75rem;
  color: white;
  transition: background-color 0.5s ease-in-out 0s;
  background-color: var(--primary-color);
}

.short {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-bottom: 0.75rem;
  color: white;
  transition: background-color 0.5s ease-in-out 0s;
  background-color: var(--secondary-color);
}

.long {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-bottom: 0.75rem;
  color: white;
  transition: background-color 0.5s ease-in-out 0s;
  background-color: var(--tertiary-color);
}

.content {
  padding: 0 0.75rem;
  max-width: 38.75rem;
  width: 100%;
  font-weight: 300;
  display: flex;
  flex-grow: 1;
  align-self: center;
  flex-direction: column;
}

.message {
  text-align: center;
}
